# File konfigurasi rahasia
.env
config/gcp_key.json

# Data mentah dan hasil yang tidak perlu dilacak
data/raw_universities.json
data/cleaned_universities.csv

# Cache dan file sementara Python
__pycache__/
*.pyc

# File Jupyter Notebook checkpoint dan runtime
.ipynb_checkpoints/
notebook/.ipynb_checkpoints/
*.ipynb

# File sementara sistem
.DS_Store
*.tmp
*.bak

# Direktori editor dan dokumentasi
.vscode/
docs/
notebooks/

# Output hasil sementara atau link
dashboard_link.txt
